@import './_utilities.css';
@import './_variables.css';
@import './_fonts.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: var(--color-primary);
  padding-bottom: 60px;
}

.container {
  max-width: 100%;
  width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (max-width: 768px) {
  body {
    padding-bottom: 32px;
  }

  .container {
    padding: 0 12px;
  }
}
